<div id="page-wrapper">
  <div class="container container-fluid">
    <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
              사물함 설정<small>locker setup</small>
          </h1>
          <%= flash[:notice] %>
          <%= flash[:caution] %>
          <ol class="breadcrumb">
              <li class="active">
                신청 받을 사물함에 대한 설정을 할 수 있습니다.
              </li>
          </ol>

          <h2>사물함기간 설정</h2>
          <hr>
          <table class="table">
             <tr>
               <td>대학생</td>
               <td>입력입력</td>
             </tr>
             <tr>
               <td>대학원생</td>
               <td>입력입력</td>
             </tr>
          </table>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
