
<div class="wall"></div>
<div id="page-wrapper">
  <div class="container container-fluid">
    <!-- Page Heading -->
      <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <a href="/box/index" style="color:black;">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h4><div class="huge">경희대학교 응용화학과</div></h4>
                                        <div>경희대학교 공과대학 4층</div>
                                          <span class="label label-success">접수중</span>
                                          <span class="label label-danger">접수완료</span>
                                          <span class="label label-warning">정정기간</span>
                                   </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <span class="pull-left">자세히 보기</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a href="/box/applsci" style="color:black;">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                      <h4><div class="huge">경희대학교 응용과학대학</div></h4>
                                      <div>경희대학교 전자정보대학/응용과학대학 1층</div>
                                        <span class="label label-success">접수중</span>
                                        <span class="label label-danger">접수완료</span>
                                        <span class="label label-warning">정정기간</span>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <span class="pull-left">자세히 보기</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a href="/box/ime" style="color:black;">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                      <h4><div class="huge">경희대학교 산업경영공학과</div></h4>
                                      <div>경희대학교 공과대학 1층</div>
                                        <span class="label label-success">접수중</span>
                                        <span class="label label-danger">접수완료</span>
                                        <span class="label label-warning">정정기간</span>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <span class="pull-left">자세히 보기</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
				</div>
</div>
</div>
